{
  "PseudoAtoms": [
    {
      "name": "H",
      "framework": true,
      "print_to_output": true,
      "element": "H",
      "print_as": "H",
      "mass": 1.00794,
      "charge": 0.0,
      "source": "DREIDING  S.L. Mayo et al., J. Phys. Chem. 1990, 94, 8897-8909."
    },
    {
      "name": "B",
      "framework": true,
      "print_to_output": true,
      "element": "B",
      "print_as": "B",
      "mass": 10.811,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "C",
      "framework": true,
      "print_to_output": true,
      "element": "C",
      "print_as": "C",
      "mass": 12.0107,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "N",
      "framework": true,
      "print_to_output": true,
      "element": "N",
      "print_as": "N",
      "mass": 14.00674,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "O",
      "framework": true,
      "print_to_output": true,
      "element": "O",
      "print_as": "O",
      "mass": 15.9994,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "F",
      "framework": true,
      "print_to_output": true,
      "element": "F",
      "print_as": "F",
      "mass": 18.9984,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Al",
      "framework": true,
      "print_to_output": true,
      "element": "Al",
      "print_as": "Al",
      "mass": 26.982,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Si",
      "framework": true,
      "print_to_output": true,
      "element": "Si",
      "print_as": "Si",
      "mass": 28.085,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "P",
      "framework": true,
      "print_to_output": true,
      "element": "P",
      "print_as": "P",
      "mass": 30.974,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "S",
      "framework": true,
      "print_to_output": true,
      "element": "S",
      "print_as": "S",
      "mass": 32.06,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Cl",
      "framework": true,
      "print_to_output": true,
      "element": "Cl",
      "print_as": "Cl",
      "mass": 35.45,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Ga",
      "framework": true,
      "print_to_output": true,
      "element": "Ga",
      "print_as": "Ga",
      "mass": 69.72,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Ge",
      "framework": true,
      "print_to_output": true,
      "element": "Ge",
      "print_as": "Ge",
      "mass": 72.59,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "As",
      "framework": true,
      "print_to_output": true,
      "element": "As",
      "print_as": "As",
      "mass": 74.9216,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Se",
      "framework": true,
      "print_to_output": true,
      "element": "Se",
      "print_as": "Se",
      "mass": 78.96,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Br",
      "framework": true,
      "print_to_output": true,
      "element": "Br",
      "print_as": "Br",
      "mass": 79.904,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "In",
      "framework": true,
      "print_to_output": true,
      "element": "In",
      "print_as": "In",
      "mass": 114.82,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Sn",
      "framework": true,
      "print_to_output": true,
      "element": "Sn",
      "print_as": "Sn",
      "mass": 118.69,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Sb",
      "framework": true,
      "print_to_output": true,
      "element": "Sb",
      "print_as": "Sb",
      "mass": 121.75,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Te",
      "framework": true,
      "print_to_output": true,
      "element": "Te",
      "print_as": "Te",
      "mass": 127.6,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "I",
      "framework": true,
      "print_to_output": true,
      "element": "I",
      "print_as": "I",
      "mass": 126.9045,
      "charge": 0.0,
      "source": "DREIDING"
    },
    {
      "name": "Na",
      "framework": true,
      "print_to_output": true,
      "element": "Na",
      "print_as": "Na",
      "mass": 22.98977,
      "charge": 0.0,
      "source": "UFF A.K. Rapp\u00e9 et al., J. Am. Chem. Soc. 1992, 114, 10024-10035."
    },
    {
      "name": "Li",
      "framework": true,
      "print_to_output": true,
      "element": "Li",
      "print_as": "Li",
      "mass": 6.941,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Mg",
      "framework": true,
      "print_to_output": true,
      "element": "Mg",
      "print_as": "Mg",
      "mass": 24.305,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "K",
      "framework": true,
      "print_to_output": true,
      "element": "K",
      "print_as": "K",
      "mass": 39.0983,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ca",
      "framework": true,
      "print_to_output": true,
      "element": "Ca",
      "print_as": "Ca",
      "mass": 40.078,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Sc",
      "framework": true,
      "print_to_output": true,
      "element": "Sc",
      "print_as": "Sc",
      "mass": 44.95591,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ti",
      "framework": true,
      "print_to_output": true,
      "element": "Ti",
      "print_as": "Ti",
      "mass": 47.867,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "V",
      "framework": true,
      "print_to_output": true,
      "element": "V",
      "print_as": "V",
      "mass": 50.9415,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Cr",
      "framework": true,
      "print_to_output": true,
      "element": "Cr",
      "print_as": "Cr",
      "mass": 51.9961,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Mn",
      "framework": true,
      "print_to_output": true,
      "element": "Mn",
      "print_as": "Mn",
      "mass": 54.93805,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Fe",
      "framework": true,
      "print_to_output": true,
      "element": "Fe",
      "print_as": "Fe",
      "mass": 55.845,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Co",
      "framework": true,
      "print_to_output": true,
      "element": "Co",
      "print_as": "Co",
      "mass": 58.93319,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ni",
      "framework": true,
      "print_to_output": true,
      "element": "Ni",
      "print_as": "Ni",
      "mass": 58.6934,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Cu",
      "framework": true,
      "print_to_output": true,
      "element": "Cu",
      "print_as": "Cu",
      "mass": 63.546,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Zn",
      "framework": true,
      "print_to_output": true,
      "element": "Zn",
      "print_as": "Zn",
      "mass": 65.409,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Zr",
      "framework": true,
      "print_to_output": true,
      "element": "Zr",
      "print_as": "Zr",
      "mass": 91.224,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Mo",
      "framework": true,
      "print_to_output": true,
      "element": "Mo",
      "print_as": "Mo",
      "mass": 95.94,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Be",
      "framework": true,
      "print_to_output": true,
      "element": "Be",
      "print_as": "Be",
      "mass": 9.01218,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Rb",
      "framework": true,
      "print_to_output": true,
      "element": "Rb",
      "print_as": "Rb",
      "mass": 85.4678,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Sr",
      "framework": true,
      "print_to_output": true,
      "element": "Sr",
      "print_as": "Sr",
      "mass": 87.62,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Y",
      "framework": true,
      "print_to_output": true,
      "element": "Y",
      "print_as": "Y",
      "mass": 88.90585,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Nb",
      "framework": true,
      "print_to_output": true,
      "element": "Nb",
      "print_as": "Nb",
      "mass": 92.90638,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Tc",
      "framework": true,
      "print_to_output": true,
      "element": "Tc",
      "print_as": "Tc",
      "mass": 98.9063,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ru",
      "framework": true,
      "print_to_output": true,
      "element": "Ru",
      "print_as": "Ru",
      "mass": 101.07,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Rh",
      "framework": true,
      "print_to_output": true,
      "element": "Rh",
      "print_as": "Rh",
      "mass": 102.9055,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Pd",
      "framework": true,
      "print_to_output": true,
      "element": "Pd",
      "print_as": "Pd",
      "mass": 106.42,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ag",
      "framework": true,
      "print_to_output": true,
      "element": "Ag",
      "print_as": "Ag",
      "mass": 107.8682,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Cd",
      "framework": true,
      "print_to_output": true,
      "element": "Cd",
      "print_as": "Cd",
      "mass": 112.411,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Cs",
      "framework": true,
      "print_to_output": true,
      "element": "Cs",
      "print_as": "Cs",
      "mass": 132.90545,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ba",
      "framework": true,
      "print_to_output": true,
      "element": "Ba",
      "print_as": "Ba",
      "mass": 137.327,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "La",
      "framework": true,
      "print_to_output": true,
      "element": "La",
      "print_as": "La",
      "mass": 138.90547,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ce",
      "framework": true,
      "print_to_output": true,
      "element": "Ce",
      "print_as": "Ce",
      "mass": 140.116,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Pr",
      "framework": true,
      "print_to_output": true,
      "element": "Pr",
      "print_as": "Pr",
      "mass": 140.90465,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Nd",
      "framework": true,
      "print_to_output": true,
      "element": "Nd",
      "print_as": "Nd",
      "mass": 144.242,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Pm",
      "framework": true,
      "print_to_output": true,
      "element": "Pm",
      "print_as": "Pm",
      "mass": 146.9151,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Sm",
      "framework": true,
      "print_to_output": true,
      "element": "Sm",
      "print_as": "Sm",
      "mass": 150.36,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Eu",
      "framework": true,
      "print_to_output": true,
      "element": "Eu",
      "print_as": "Eu",
      "mass": 151.964,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Gd",
      "framework": true,
      "print_to_output": true,
      "element": "Gd",
      "print_as": "Gd",
      "mass": 157.25,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Tb",
      "framework": true,
      "print_to_output": true,
      "element": "Tb",
      "print_as": "Tb",
      "mass": 158.92535,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Dy",
      "framework": true,
      "print_to_output": true,
      "element": "Dy",
      "print_as": "Dy",
      "mass": 162.5,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ho",
      "framework": true,
      "print_to_output": true,
      "element": "Ho",
      "print_as": "Ho",
      "mass": 164.93032,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Er",
      "framework": true,
      "print_to_output": true,
      "element": "Er",
      "print_as": "Er",
      "mass": 167.259,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Tm",
      "framework": true,
      "print_to_output": true,
      "element": "Tm",
      "print_as": "Tm",
      "mass": 168.93421,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Yb",
      "framework": true,
      "print_to_output": true,
      "element": "Yb",
      "print_as": "Yb",
      "mass": 173.04,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Lu",
      "framework": true,
      "print_to_output": true,
      "element": "Lu",
      "print_as": "Lu",
      "mass": 174.967,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Hf",
      "framework": true,
      "print_to_output": true,
      "element": "Hf",
      "print_as": "Hf",
      "mass": 178.49,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ta",
      "framework": true,
      "print_to_output": true,
      "element": "Ta",
      "print_as": "Ta",
      "mass": 180.9479,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "W",
      "framework": true,
      "print_to_output": true,
      "element": "W",
      "print_as": "W",
      "mass": 183.84,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Re",
      "framework": true,
      "print_to_output": true,
      "element": "Re",
      "print_as": "Re",
      "mass": 186.207,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Os",
      "framework": true,
      "print_to_output": true,
      "element": "Os",
      "print_as": "Os",
      "mass": 190.23,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ir",
      "framework": true,
      "print_to_output": true,
      "element": "Ir",
      "print_as": "Ir",
      "mass": 192.217,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Pt",
      "framework": true,
      "print_to_output": true,
      "element": "Pt",
      "print_as": "Pt",
      "mass": 195.084,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Au",
      "framework": true,
      "print_to_output": true,
      "element": "Au",
      "print_as": "Au",
      "mass": 196.96657,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Hg",
      "framework": true,
      "print_to_output": true,
      "element": "Hg",
      "print_as": "Hg",
      "mass": 200.59,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Tl",
      "framework": true,
      "print_to_output": true,
      "element": "Tl",
      "print_as": "Tl",
      "mass": 204.3833,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Pb",
      "framework": true,
      "print_to_output": true,
      "element": "Pb",
      "print_as": "Pb",
      "mass": 207.2,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Bi",
      "framework": true,
      "print_to_output": true,
      "element": "Bi",
      "print_as": "Bi",
      "mass": 208.9804,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Po",
      "framework": true,
      "print_to_output": true,
      "element": "Po",
      "print_as": "Po",
      "mass": 208.9824,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "At",
      "framework": true,
      "print_to_output": true,
      "element": "At",
      "print_as": "At",
      "mass": 209.9871,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Rn",
      "framework": true,
      "print_to_output": true,
      "element": "Rn",
      "print_as": "Rn",
      "mass": 222.0176,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ra",
      "framework": true,
      "print_to_output": true,
      "element": "Ra",
      "print_as": "Ra",
      "mass": 226.0254,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Ac",
      "framework": true,
      "print_to_output": true,
      "element": "Ac",
      "print_as": "Ac",
      "mass": 227.0278,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Th",
      "framework": true,
      "print_to_output": true,
      "element": "Th",
      "print_as": "Th",
      "mass": 232.03806,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Pa",
      "framework": true,
      "print_to_output": true,
      "element": "Pa",
      "print_as": "Pa",
      "mass": 231.03588,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "U",
      "framework": true,
      "print_to_output": true,
      "element": "U",
      "print_as": "U",
      "mass": 238.02891,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Np",
      "framework": true,
      "print_to_output": true,
      "element": "Np",
      "print_as": "Np",
      "mass": 237.0482,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Pu",
      "framework": true,
      "print_to_output": true,
      "element": "Pu",
      "print_as": "Pu",
      "mass": 244.0642,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Am",
      "framework": true,
      "print_to_output": true,
      "element": "Am",
      "print_as": "Am",
      "mass": 243.0614,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Cm",
      "framework": true,
      "print_to_output": true,
      "element": "Cm",
      "print_as": "Cm",
      "mass": 247.0703,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Bk",
      "framework": true,
      "print_to_output": true,
      "element": "Bk",
      "print_as": "Bk",
      "mass": 247.0703,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Cf",
      "framework": true,
      "print_to_output": true,
      "element": "Cf",
      "print_as": "Cf",
      "mass": 251.0796,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Es",
      "framework": true,
      "print_to_output": true,
      "element": "Es",
      "print_as": "Es",
      "mass": 252.0829,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Fm",
      "framework": true,
      "print_to_output": true,
      "element": "Fm",
      "print_as": "Fm",
      "mass": 257.0951,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "Md",
      "framework": true,
      "print_to_output": true,
      "element": "Md",
      "print_as": "Md",
      "mass": 258.0951,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "No",
      "framework": true,
      "print_to_output": true,
      "element": "No",
      "print_as": "No",
      "mass": 259.1009,
      "charge": 0.0,
      "source": "UFF"
    },
    {
      "name": "He",
      "framework": false,
      "print_to_output": true,
      "element": "He",
      "print_as": "He",
      "mass": 4.0026,
      "charge": 0.0,
      "source": "J.O. Hirschfelder et al., Molecular Theory of Gases and Liquids, Wiley, New York, 1954, p. 1114."
    },
    {
      "name": "O_co2",
      "framework": false,
      "print_to_output": true,
      "element": "O",
      "print_as": "O",
      "mass": 15.9994,
      "charge": -0.35,
      "source": "TraPPE, J. Potoff, and J.I. Siepmann, AIChE J. 47, 1676-1682 (2001)."
    },
    {
      "name": "C_co2",
      "framework": false,
      "print_to_output": true,
      "element": "C",
      "print_as": "C",
      "mass": 12.0107,
      "charge": 0.7,
      "source": "TraPPE, J. Potoff, and J.I. Siepmann, AIChE J. 47, 1676-1682 (2001)."
    },
    {
      "name": "N_n2",
      "framework": false,
      "print_to_output": true,
      "element": "N",
      "print_as": "N",
      "mass": 14.00674,
      "charge": -0.482,
      "source": "TraPPE, J. Potoff, and J.I. Siepmann, AIChE J. 47, 1676-1682 (2001)."
    },
    {
      "name": "N_com",
      "framework": false,
      "print_to_output": false,
      "element": "-",
      "print_as": "N",
      "mass": 0.0,
      "charge": 0.964,
      "source": "TraPPE, J. Potoff, and J.I. Siepmann, AIChE J. 47, 1676-1682 (2001)."
    },
    {
      "name": "CH4",
      "framework": false,
      "print_to_output": true,
      "element": "C",
      "print_as": "C",
      "mass": 16.04246,
      "charge": 0.0,
      "source": "TraPPE, M.G. Martin, and J.I. Siepmann, J. Phys. Chem. B 102, 2569-2577 (1998)"
    },
    {
      "name": "N_NH3",
      "framework": false,
      "print_to_output": true,
      "element": "N",
      "print_as": "N",
      "mass": 14.0,
      "charge": 0.0,
      "source": "TraPPE,"
    },
    {
      "name": "H_NH3",
      "framework": false,
      "print_to_output": true,
      "element": "H",
      "print_as": "H",
      "mass": 1.00794,
      "charge": 0.41,
      "source": "TraPPE,"
    },
    {
      "name": "M_NH3",
      "framework": false,
      "print_to_output": false,
      "element": "-",
      "print_as": "M",
      "mass": 0.0,
      "charge": -1.23,
      "source": "TraPPE,"
    },
    {
      "name": "Ow",
      "framework": false,
      "print_to_output": true,
      "element": "O",
      "print_as": "O",
      "mass": 15.9994,
      "charge": 0.0,
      "source": "TIP4P/2005, J.L.F. Abascal and C. Vega, J. Chem. Phys. 2005, 123, 234505."
    },
    {
      "name": "Hw",
      "framework": false,
      "print_to_output": true,
      "element": "H",
      "print_as": "H",
      "mass": 1.00794,
      "charge": 0.5564,
      "source": "TIP4P/2005, J.L.F. Abascal and C. Vega, J. Chem. Phys. 2005, 123, 234505."
    },
    {
      "name": "Mw",
      "framework": false,
      "print_to_output": false,
      "element": "-",
      "print_as": "M",
      "mass": 0.0,
      "charge": -1.1128,
      "source": "TIP4P/2005, J.L.F. Abascal and C. Vega, J. Chem. Phys. 2005, 123, 234505."
    }
  ],
  "SelfInteractions": [
    {
      "name": "H",
      "type": "lennard-jones",
      "parameters": [
        7.648938,
        2.84642
      ],
      "source": "DREIDING  S.L. Mayo et al., J. Phys. Chem. 1990, 94, 8897-8909."
    },
    {
      "name": "B",
      "type": "lennard-jones",
      "parameters": [
        47.8058,
        3.58141
      ],
      "source": "DREIDING"
    },
    {
      "name": "C",
      "type": "lennard-jones",
      "parameters": [
        47.8562,
        3.47299
      ],
      "source": "DREIDING"
    },
    {
      "name": "N",
      "type": "lennard-jones",
      "parameters": [
        38.9492,
        3.26256
      ],
      "source": "DREIDING"
    },
    {
      "name": "O",
      "type": "lennard-jones",
      "parameters": [
        48.1581,
        3.03315
      ],
      "source": "DREIDING"
    },
    {
      "name": "F",
      "type": "lennard-jones",
      "parameters": [
        36.4834,
        3.0932
      ],
      "source": "DREIDING"
    },
    {
      "name": "Al",
      "type": "lennard-jones",
      "parameters": [
        155.9981,
        3.91105
      ],
      "source": "DREIDING"
    },
    {
      "name": "Si",
      "type": "lennard-jones",
      "parameters": [
        155.9981,
        3.80414
      ],
      "source": "DREIDING"
    },
    {
      "name": "P",
      "type": "lennard-jones",
      "parameters": [
        161.0303,
        3.69723
      ],
      "source": "DREIDING"
    },
    {
      "name": "S",
      "type": "lennard-jones",
      "parameters": [
        173.1075,
        3.59032
      ],
      "source": "DREIDING"
    },
    {
      "name": "Cl",
      "type": "lennard-jones",
      "parameters": [
        142.5621,
        3.51932
      ],
      "source": "DREIDING"
    },
    {
      "name": "Ga",
      "type": "lennard-jones",
      "parameters": [
        201.2878,
        3.91105
      ],
      "source": "DREIDING"
    },
    {
      "name": "Ge",
      "type": "lennard-jones",
      "parameters": [
        201.2878,
        3.80414
      ],
      "source": "DREIDING"
    },
    {
      "name": "As",
      "type": "lennard-jones",
      "parameters": [
        206.32,
        3.69723
      ],
      "source": "DREIDING"
    },
    {
      "name": "Se",
      "type": "lennard-jones",
      "parameters": [
        216.3844,
        3.59032
      ],
      "source": "DREIDING"
    },
    {
      "name": "Br",
      "type": "lennard-jones",
      "parameters": [
        186.1912,
        3.51905
      ],
      "source": "DREIDING"
    },
    {
      "name": "In",
      "type": "lennard-jones",
      "parameters": [
        276.7707,
        4.08923
      ],
      "source": "DREIDING"
    },
    {
      "name": "Sn",
      "type": "lennard-jones",
      "parameters": [
        276.7708,
        3.98232
      ],
      "source": "DREIDING"
    },
    {
      "name": "Sb",
      "type": "lennard-jones",
      "parameters": [
        276.7708,
        3.87541
      ],
      "source": "DREIDING"
    },
    {
      "name": "Te",
      "type": "lennard-jones",
      "parameters": [
        286.8352,
        3.7685
      ],
      "source": "DREIDING"
    },
    {
      "name": "I",
      "type": "lennard-jones",
      "parameters": [
        256.642,
        3.69723
      ],
      "source": "DREIDING"
    },
    {
      "name": "Na",
      "type": "lennard-jones",
      "parameters": [
        15.09659,
        2.65755
      ],
      "source": "UFF A.K. Rapp\u00e9 et al., J. Am. Chem. Soc. 1992, 114, 10024-10035."
    },
    {
      "name": "Li",
      "type": "lennard-jones",
      "parameters": [
        12.58049,
        2.18359
      ],
      "source": "UFF"
    },
    {
      "name": "Mg",
      "type": "lennard-jones",
      "parameters": [
        55.85737,
        2.69141
      ],
      "source": "UFF"
    },
    {
      "name": "K",
      "type": "lennard-jones",
      "parameters": [
        17.61269,
        3.39611
      ],
      "source": "UFF"
    },
    {
      "name": "Ca",
      "type": "lennard-jones",
      "parameters": [
        119.76626,
        3.02816
      ],
      "source": "UFF"
    },
    {
      "name": "Sc",
      "type": "lennard-jones",
      "parameters": [
        9.56117,
        2.93551
      ],
      "source": "UFF"
    },
    {
      "name": "Ti",
      "type": "lennard-jones",
      "parameters": [
        8.55473,
        2.8286
      ],
      "source": "UFF"
    },
    {
      "name": "V",
      "type": "lennard-jones",
      "parameters": [
        8.05151,
        2.80099
      ],
      "source": "UFF"
    },
    {
      "name": "Cr",
      "type": "lennard-jones",
      "parameters": [
        7.54829,
        2.69319
      ],
      "source": "UFF"
    },
    {
      "name": "Mn",
      "type": "lennard-jones",
      "parameters": [
        6.54185,
        2.63795
      ],
      "source": "UFF"
    },
    {
      "name": "Fe",
      "type": "lennard-jones",
      "parameters": [
        6.54185,
        2.5943
      ],
      "source": "UFF"
    },
    {
      "name": "Co",
      "type": "lennard-jones",
      "parameters": [
        7.04507,
        2.55866
      ],
      "source": "UFF"
    },
    {
      "name": "Ni",
      "type": "lennard-jones",
      "parameters": [
        7.54829,
        2.52481
      ],
      "source": "UFF"
    },
    {
      "name": "Cu",
      "type": "lennard-jones",
      "parameters": [
        2.5161,
        3.11369
      ],
      "source": "UFF"
    },
    {
      "name": "Zn",
      "type": "lennard-jones",
      "parameters": [
        62.39923,
        2.46155
      ],
      "source": "UFF"
    },
    {
      "name": "Zr",
      "type": "lennard-jones",
      "parameters": [
        34.72215,
        2.78317
      ],
      "source": "UFF"
    },
    {
      "name": "Mo",
      "type": "lennard-jones",
      "parameters": [
        28.18029,
        2.71902
      ],
      "source": "UFF"
    },
    {
      "name": "Be",
      "type": "lennard-jones",
      "parameters": [
        42.77366,
        2.44552
      ],
      "source": "UFF"
    },
    {
      "name": "Rb",
      "type": "lennard-jones",
      "parameters": [
        20.12878,
        3.66516
      ],
      "source": "UFF"
    },
    {
      "name": "Sr",
      "type": "lennard-jones",
      "parameters": [
        118.2566,
        3.24376
      ],
      "source": "UFF"
    },
    {
      "name": "Y",
      "type": "lennard-jones",
      "parameters": [
        36.23181,
        2.98006
      ],
      "source": "UFF"
    },
    {
      "name": "Nb",
      "type": "lennard-jones",
      "parameters": [
        29.68995,
        2.81969
      ],
      "source": "UFF"
    },
    {
      "name": "Tc",
      "type": "lennard-jones",
      "parameters": [
        24.15454,
        2.67091
      ],
      "source": "UFF"
    },
    {
      "name": "Ru",
      "type": "lennard-jones",
      "parameters": [
        28.1803,
        2.63973
      ],
      "source": "UFF"
    },
    {
      "name": "Rh",
      "type": "lennard-jones",
      "parameters": [
        26.67064,
        2.60944
      ],
      "source": "UFF"
    },
    {
      "name": "Pd",
      "type": "lennard-jones",
      "parameters": [
        24.15454,
        2.58272
      ],
      "source": "UFF"
    },
    {
      "name": "Ag",
      "type": "lennard-jones",
      "parameters": [
        18.1159,
        2.80455
      ],
      "source": "UFF"
    },
    {
      "name": "Cd",
      "type": "lennard-jones",
      "parameters": [
        114.7341,
        2.53728
      ],
      "source": "UFF"
    },
    {
      "name": "Cs",
      "type": "lennard-jones",
      "parameters": [
        22.64488,
        4.02419
      ],
      "source": "UFF"
    },
    {
      "name": "Ba",
      "type": "lennard-jones",
      "parameters": [
        183.17192,
        3.299
      ],
      "source": "UFF"
    },
    {
      "name": "La",
      "type": "lennard-jones",
      "parameters": [
        8.55473,
        3.13775
      ],
      "source": "UFF"
    },
    {
      "name": "Ce",
      "type": "lennard-jones",
      "parameters": [
        6.54185,
        3.16804
      ],
      "source": "UFF"
    },
    {
      "name": "Pr",
      "type": "lennard-jones",
      "parameters": [
        5.0322,
        3.21258
      ],
      "source": "UFF"
    },
    {
      "name": "Nd",
      "type": "lennard-jones",
      "parameters": [
        5.0322,
        3.18496
      ],
      "source": "UFF"
    },
    {
      "name": "Pm",
      "type": "lennard-jones",
      "parameters": [
        4.52898,
        3.16002
      ],
      "source": "UFF"
    },
    {
      "name": "Sm",
      "type": "lennard-jones",
      "parameters": [
        4.02576,
        3.13596
      ],
      "source": "UFF"
    },
    {
      "name": "Eu",
      "type": "lennard-jones",
      "parameters": [
        4.02576,
        3.11191
      ],
      "source": "UFF"
    },
    {
      "name": "Gd",
      "type": "lennard-jones",
      "parameters": [
        4.52898,
        3.00055
      ],
      "source": "UFF"
    },
    {
      "name": "Tb",
      "type": "lennard-jones",
      "parameters": [
        3.52254,
        3.07449
      ],
      "source": "UFF"
    },
    {
      "name": "Dy",
      "type": "lennard-jones",
      "parameters": [
        3.52254,
        3.054
      ],
      "source": "UFF"
    },
    {
      "name": "Ho",
      "type": "lennard-jones",
      "parameters": [
        3.52254,
        3.03707
      ],
      "source": "UFF"
    },
    {
      "name": "Er",
      "type": "lennard-jones",
      "parameters": [
        3.52254,
        3.02104
      ],
      "source": "UFF"
    },
    {
      "name": "Tm",
      "type": "lennard-jones",
      "parameters": [
        3.01932,
        3.00589
      ],
      "source": "UFF"
    },
    {
      "name": "Yb",
      "type": "lennard-jones",
      "parameters": [
        114.73406,
        2.98897
      ],
      "source": "UFF"
    },
    {
      "name": "Lu",
      "type": "lennard-jones",
      "parameters": [
        20.632,
        3.24287
      ],
      "source": "UFF"
    },
    {
      "name": "Hf",
      "type": "lennard-jones",
      "parameters": [
        36.23181,
        2.79831
      ],
      "source": "UFF"
    },
    {
      "name": "Ta",
      "type": "lennard-jones",
      "parameters": [
        40.76079,
        2.82415
      ],
      "source": "UFF"
    },
    {
      "name": "W",
      "type": "lennard-jones",
      "parameters": [
        33.71571,
        2.73417
      ],
      "source": "UFF"
    },
    {
      "name": "Re",
      "type": "lennard-jones",
      "parameters": [
        33.21249,
        2.63171
      ],
      "source": "UFF"
    },
    {
      "name": "Os",
      "type": "lennard-jones",
      "parameters": [
        18.61912,
        2.7796
      ],
      "source": "UFF"
    },
    {
      "name": "Ir",
      "type": "lennard-jones",
      "parameters": [
        36.73503,
        2.53015
      ],
      "source": "UFF"
    },
    {
      "name": "Pt",
      "type": "lennard-jones",
      "parameters": [
        40.25757,
        2.45354
      ],
      "source": "UFF"
    },
    {
      "name": "Au",
      "type": "lennard-jones",
      "parameters": [
        19.62556,
        2.93373
      ],
      "source": "UFF"
    },
    {
      "name": "Hg",
      "type": "lennard-jones",
      "parameters": [
        193.73954,
        2.40988
      ],
      "source": "UFF"
    },
    {
      "name": "Tl",
      "type": "lennard-jones",
      "parameters": [
        342.18931,
        3.87274
      ],
      "source": "UFF"
    },
    {
      "name": "Pb",
      "type": "lennard-jones",
      "parameters": [
        333.63458,
        3.82819
      ],
      "source": "UFF"
    },
    {
      "name": "Bi",
      "type": "lennard-jones",
      "parameters": [
        260.66774,
        3.89323
      ],
      "source": "UFF"
    },
    {
      "name": "Po",
      "type": "lennard-jones",
      "parameters": [
        163.54636,
        4.19524
      ],
      "source": "UFF"
    },
    {
      "name": "At",
      "type": "lennard-jones",
      "parameters": [
        142.91436,
        4.23177
      ],
      "source": "UFF"
    },
    {
      "name": "Rn",
      "type": "lennard-jones",
      "parameters": [
        124.79845,
        4.24513
      ],
      "source": "UFF"
    },
    {
      "name": "Ra",
      "type": "lennard-jones",
      "parameters": [
        203.30071,
        3.27583
      ],
      "source": "UFF"
    },
    {
      "name": "Ac",
      "type": "lennard-jones",
      "parameters": [
        16.60625,
        3.09855
      ],
      "source": "UFF"
    },
    {
      "name": "Th",
      "type": "lennard-jones",
      "parameters": [
        13.08371,
        3.02549
      ],
      "source": "UFF"
    },
    {
      "name": "Pa",
      "type": "lennard-jones",
      "parameters": [
        11.07083,
        3.05044
      ],
      "source": "UFF"
    },
    {
      "name": "U",
      "type": "lennard-jones",
      "parameters": [
        11.07083,
        3.0246
      ],
      "source": "UFF"
    },
    {
      "name": "Np",
      "type": "lennard-jones",
      "parameters": [
        9.56117,
        3.05044
      ],
      "source": "UFF"
    },
    {
      "name": "Pu",
      "type": "lennard-jones",
      "parameters": [
        8.05151,
        3.05044
      ],
      "source": "UFF"
    },
    {
      "name": "Am",
      "type": "lennard-jones",
      "parameters": [
        7.04507,
        3.01213
      ],
      "source": "UFF"
    },
    {
      "name": "Cm",
      "type": "lennard-jones",
      "parameters": [
        6.54185,
        2.96313
      ],
      "source": "UFF"
    },
    {
      "name": "Bk",
      "type": "lennard-jones",
      "parameters": [
        6.54185,
        2.97471
      ],
      "source": "UFF"
    },
    {
      "name": "Cf",
      "type": "lennard-jones",
      "parameters": [
        6.54185,
        2.95155
      ],
      "source": "UFF"
    },
    {
      "name": "Es",
      "type": "lennard-jones",
      "parameters": [
        6.03863,
        2.93907
      ],
      "source": "UFF"
    },
    {
      "name": "Fm",
      "type": "lennard-jones",
      "parameters": [
        6.03863,
        2.92749
      ],
      "source": "UFF"
    },
    {
      "name": "Md",
      "type": "lennard-jones",
      "parameters": [
        5.53542,
        2.9168
      ],
      "source": "UFF"
    },
    {
      "name": "No",
      "type": "lennard-jones",
      "parameters": [
        5.53542,
        2.89364
      ],
      "source": "UFF"
    },
    {
      "name": "He",
      "type": "lennard-jones",
      "parameters": [
        10.9,
        2.64
      ],
      "source": "J.O. Hirschfelder et al., Molecular Theory of Gases and Liquids, Wiley, New York, 1954, p. 1114."
    },
    {
      "name": "O_co2",
      "type": "lennard-jones",
      "parameters": [
        79.0,
        3.05
      ],
      "source": "TraPPE, J. Potoff, and J.I. Siepmann, AIChE J. 47, 1676-1682 (2001)."
    },
    {
      "name": "C_co2",
      "type": "lennard-jones",
      "parameters": [
        27.0,
        2.8
      ],
      "source": "TraPPE, J. Potoff, and J.I. Siepmann, AIChE J. 47, 1676-1682 (2001)."
    },
    {
      "name": "N_n2",
      "type": "lennard-jones",
      "parameters": [
        36.0,
        3.31
      ],
      "source": "TraPPE, J. Potoff, and J.I. Siepmann, AIChE J. 47, 1676-1682 (2001)."
    },
    {
      "name": "N_com",
      "type": "none",
      "parameters": [0.0, 1.0],
      "source": "TraPPE, J. Potoff, and J.I. Siepmann, AIChE J. 47, 1676-1682 (2001)."
    },
    {
      "name": "CH4",
      "type": "lennard-jones",
      "parameters": [
        148.0,
        3.73
      ],
      "source": "TraPPE, M.G. Martin, and J.I. Siepmann, J. Phys. Chem. B 102, 2569-2577 (1998)"
    },
    {
      "name": "N_NH3",
      "type": "lennard-jones",
      "parameters": [
        185.0,
        3.42
      ],
      "source": "TraPPE,"
    },
    {
      "name": "H_NH3",
      "type": "none",
      "parameters": [0.0, 1.0],
      "source": "TraPPE,"
    },
    {
      "name": "M_NH3",
      "type": "none",
      "parameters": [0.0, 1.0],
      "source": "TraPPE,"
    },
    {
      "name": "Ow",
      "type": "lennard-jones",
      "parameters": [
        93.2,
        3.1589
      ],
      "source": "TIP4P/2005, J.L.F. Abascal and C. Vega, J. Chem. Phys. 2005, 123, 234505."
    },
    {
      "name": "Hw",
      "type": "none",
      "parameters": [0.0, 1.0],
      "source": "TIP4P/2005, J.L.F. Abascal and C. Vega, J. Chem. Phys. 2005, 123, 234505."
    },
    {
      "name": "Mw",
      "type": "none",
      "parameters": [0.0, 1.0],
      "source": "TIP4P/2005, J.L.F. Abascal and C. Vega, J. Chem. Phys. 2005, 123, 234505."
    }
  ],
  "MixingRule": "Lorentz-Berthelot",
  "TruncationMethod": "truncated",
  "CutOff" : {{ cutoff_radius }},
  "TailCorrections": true
}
